.book-display {
  width: 350px;
  height:350px;
  margin: 20px 5px;
text-align: center;
  transition: size 1s;
  background: white;
  transition: box-shadow .5s;
  padding-top: 30px;
h3 {

  font-size: 40px;
  
}
img {
  width: 320px;
  margin: 0px;

}

}
#mobile {
  width: 150px;
}
