$yellow: #FED586;
$orange: #F39354;
$blue: #4C5365;
$offwhite: #EFEDE7;
$green: #57BB89;
$selectedcolor: #fbf8f8;
$listborder: #bfd2cf;
$headercolor: white;


.container {
  padding: 25px 100px;
  margin: 0px;
  width: 100%;

}
